body {
    background: url("../img/adventure_is_out_there.png");
}



select.input-chub {
    height: 34px;
}

.inner-border {
    border: solid black 3px;
    margin: 3px;
}

button {
    border: solid black 3px;
    background-color: white;
    padding: 10px;
}

.modalCloseBtn{
    padding: 10px;
    position: absolute;
    right: 10px;
}

#winModal {
    position: absolute;
    top: 5%;
    left: 5%;
    background: rgb(240, 240, 240);
    width: 90%;
    height: 90%;
    display: none;
}
#winModal .inner-border{
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    display: block;
}

.padding-vert {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.soften {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
}

.splashout {
    height: 40vh;
    width: 40vh;
    padding: 3px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 100vh) {


    .splashout {
        height: 40vw;
        width: 40vw;
    }
}

@media only screen and (max-width: 575px) {
    .splashout {
        height: 40vh;
        width: 40vh;
    }
}



.splashinner {
    margin: 10px;
    height: calc(100% - 41px);
}

.center {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: white;
}

tr:nth-child(even) {
    background-color: rgba(221, 221, 221, .6);
}


.starterdiv {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.starterdiv img {
    width: 100%;
}

.gen-select-link{
    background: white;
    padding: 3px;
    border: black solid 1px;
}


.shadow {
    filter: brightness(0);
}

.typebadge {
    border: solid black 1px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 5px 0;
    color: white;
    font-weight: 400;
    font-size: 15px;
}

button.typebadge {
    height: 40px;
}

.normal {
    background-color: #807870;
}

.fire {
    background-color: red;
}

.water {
    background-color: blue;
}

.grass {
    background-color: green;
}

.electric {
    background-color: #F8D030;
}

.ice {
    background-color: rgb(72, 209, 255);
}

.fighting {
    background-color: #502020;
}

.poison {
    background-color: rgb(70, 0, 77);
}

.ground {
    background-color: #505040;
}

.flying {
    background-color: #c2c2fa;
}

.psychic {
    background-color: rgb(130, 0, 130);
}

.bug {
    background-color: rgb(130, 180, 0);
}

.rock {
    background-color: rgb(70, 70, 70);
}

.ghost {
    background-color: rgb(20, 0, 70);
}

.dark {
    background-color: rgb(15, 15, 15);
}

.dragon {
    background-color: rgb(10, 10, 120);
}

.steel {
    background-color: rgb(187, 187, 187);
}

.fairy {
    background-color: pink;
}