
.splashout {
    height: 100%;
    padding: 3px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.splashinner {
    background: white;
    margin: 10px;
    border-radius: 10px;
}

.center{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


.starterdiv{
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.starterdiv img{
    width: 100%;
}


.shadow{
    filter: brightness(0);
}

.typebadge{
    border: solid black 1px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 5px 0;
    color: white;
    font-weight: 400;
    font-size: 15px;
}
button.typebadge {
    height: 40px;
}

.normal{
    background-color: #807870;
}
.fire{
    background-color: red;
}
.water{
    background-color: blue;
}
.grass{
    background-color: green;
}
.electric{
    background-color: #F8D030;
}
.ice{
    background-color: rgb(72, 209, 255);
}

.fighting{
    background-color: #502020;
}
.poison{
    background-color: rgb(70, 0, 77    );
}
.ground{
    background-color: #505040;
}
.flying{
    background-color: #c2c2fa;
}
.psychic{
    background-color: rgb(130, 0, 130  );
}
.bug{
    background-color: rgb(130, 180, 0);
}
.rock{
    background-color: rgb(70, 70, 70);
}
.ghost{
    background-color: rgb(20, 0, 70);
}
.dark{
    background-color: rgb(15, 15, 15);
}
.dragon{
    background-color: rgb(10, 10, 120);
}
.steel{
    background-color: rgb(187, 187, 187);
}
.fairy{
    background-color: pink;
}
