{% extends "base.html" %}
{% block content %}

<div class="container">



    <div class="row">
        <div class="c12" style="height: 600px;">
            <div class="row">
                <div class="c12">
                    <div class="row">
                        <div id="timeleft">Ready?</div>
                    </div>
                </div>
                <div class="c4">
                    <div id="game" class="row">

                    </div>
                </div>
                <div class="c4">
                    <div id="goal" class="row">

                    </div>
                </div>
                <div class="c4">
                    <div id="poke" class="row">

                    </div>
                </div>
            </div>
        </div>
        <button id="spin">
            START SPINNING!!!
        </button>
    </div>



</div>


<script src="{{ url_for('static', filename='js/spin-page.js')}}"></script>

{% endblock %}