{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="c12 sm6 pb10">
            <div class="splashout" style="background-image: url('{{ url_for('static', filename='img/rb.png') }}');">
                <div class="splashinner">
                    <h1 class="center">Play Pokle!</h1>
                    <p class="center">Play the Pokemon Version of Wordle!</p>
                    <p class="center">Don't worry though - you are not alone. You can select a partner Pokemon to help
                        you
                        on your adventures</p>
                </div>
            </div>
        </div>
        <div class="c12 sm6 pb10">
            <div class="splashout" style="background-image: url('{{ url_for('static', filename='img/gs.png') }}');">
                <div class="splashinner">
                    <h1 class="center">Summerfest is here!</h1>
                    <p class="center">Summerfest is here for lovers of the Pokemon games!</p>
                    <p class="center">Earn points for speedrunning a selected game, with a selected Pokemon until a
                        goal.
                    </p>
                    <p class="center">To check the Summerfest Goals - CLICK HERE</p>
                </div>
            </div>
        </div>
        <div class="c12 sm6 pb10">
            <div class="splashout" style="background-image: url('{{ url_for('static', filename='img/rs.png') }}');">
                <div class="splashinner">
                    <h1 class="center">Who's That Pokemon?</h1>
                    <p class="center">Inspired by the original "Who's that Pokemon from the animation show, play your
                        own
                        version!</p>
                    <p class="center">Trouble spelling it out? Been there... We will help you with the spelling</p>
                </div>
            </div>
        </div>
        <div class="c12 sm6 pb10">
            <div class="splashout" style="background-image: url('{{ url_for('static', filename='img/dp.png') }}');">
                <div class="splashinner">
                    <h1 class="center">Which is the most forgotten Pokemon?</h1>
                    <p class="center">Inspired by Reddit Posts, Youtube Videos. Lets see if we can find out what
                        Pokemon
                        people
                        just can not remember. If you don't know the Pokemon - that is okay. If you think you might
                        know
                        them
                        try. Guessed answers may be reviewed to reform data.</p>
                </div>
            </div>

        </div>
    </div>


    {% endblock %}