{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row soften">
      <div class="c12 center">
        <h1>Welcome To Pokemon Summerfest!</h1>
      </div>
      <br>

      <p>Below here you will find all the rules and a table of the Game, Goal and Pokemon you must use to complete that run.</p>
    <div class="row">
      <div class="c12">
        <ol>
          <li>This is a Solo Run
            <ul>
              <li>You may only use the selected Pokemon throughout the run.</li>
              <li>You may not evolve your given Pokemon</li>
              <li>You may use other pokemon outside of battle for HM moves.</li>
              <li>Other Pokemon can not be swapped into battle.</li>
            </ul>
          <li>Items are allowed in battle</li>
          <li>No Glitches or Exploits
            <ul>
              <li>This excludes the "Badge Boost Glitch" is unavoidable in Gen 1.  So this will be overlooked</li>
            </ul>
          </li>
          <li>Deating Pokemon can be catch or KO'd</li>
        </ol>
      </div>
    </div>
    <table>
        <tr>
          <th>Game</th>
          <th>Goal</th>
          <th>Pokemon</th>
        </tr>
        {% if summer %}
        {% for entry in summer %}
        <tr>
          <td>{{ entry.game }}</td>
          <td>{{ entry.goal }}</td>
          <td>{{ entry.pokemon| capitalize }}</td>
        </tr>
        {% endfor %}
       
        
      
    {% else %}
    <tr>
        <td>Summerfest Pokemon have not been selected yet!</td>
        <td></td>
        <td></td>
    </tr>
    {% endif %}
</table>
</div>
</div>

{% endblock %}